body{
	padding-top:50px;
}

.aboutSRS_button{
	background-color:red;
	padding:2%;
	height:50px;
}

.aboutTrust_button{
	background-color:red;
	padding:2%;
	height:50px;
}

.activebutton{
	color:white;
	border-bottom: 2px solid #FF7700;
}

.aboutTrust_button > center > p{
	text-align:center;
	vertical-align: middle;
}

.notactivebutton{
	color:#C5C1C1;
}

.notactivebutton > center > a:hover, a:link, a:visited{
	color:#C5C1C1;
}
