/*body{
	padding-top:50px;
	padding-bottom: 70px;
}*/

body{
	/*padding-top:70px;*/
	/*padding-bottom: 120px;*/
	padding-top: 0px;
	margin-top:60px;
	margin-bottom:120px;
}

.audio_button{
	background-color:red;
	padding:2%;
	/*height:50px;*/
}

.video_button{
	background-color:red;
	padding:2%;
	/*height:50px;*/
}

.activebutton{
	color:white;
	border-bottom: 2px solid #FF7700;
}

.activebutton a p{
	color:white;
}
/*.audio_button > center > p{
	text-align:center;
	vertical-align: middle;
}*/

.notactivebutton{
	color:#C5C1C1;
}

.notactivebutton > center > a:hover, a:link, a:visited{
	color:#C5C1C1;
}

.thumbnail_container{
	height:1%;
	/*max-height:425px;*/
	overflow:auto;
}

.notactivebutton > center > a:hover, a:link, a:visited {
	color:orange;
}

.thumbnail_css{
	border-bottom:1px solid #BFBBBB;
	padding:5%;
}

.thumbnail_image{
	height:50px;
}

.thumbnail_label{
	vertical-align: middle;
}

/*.pull-left{
	float:left;
}*/

.options_menu{
	margin-top: -9px;
	position:fixed;
	width:100%;
	z-index:999999;
}

.content{
	padding-top: 40px;
}