header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

body {
    padding-top: 70px;
  }

.navbar-header,.navbar-toggle{
	background-color: red;
}


.navbar-inverse{
	background-color:white;
}

.navbar-brand b{
	color:white;
}

.navbar-toggle{
	border:none;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: red;
}

.navbar-inverse .navbar-nav>li>a {
    color:red;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: red;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: red;
}

.title-header{
	color:white;
}

.footer{
	position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 120px; 
    background-color:white; 
    z-index:10000;
    border-top: 0.005px ridge #FC9D22;
}

.content{
    margin-bottom:120px;
    bottom:0;
    /*padding-top:70px;*/
}

/*.options_menu{
    position: fixed;
    z-index: 99999;
    width: 100%;
    margin-top: -15px;
*/}

