body{
	padding-top:50px;
	padding-bottom: 70px;
}

.prayercenters_button{
	background-color:red;
	padding:2%;
	height:50px;
}

.regularsatsang_button{
	background-color:red;
	padding:2%;
	height:50px;
}

.activebutton{
	color:white;
	border-bottom: 2px solid #FF7700;
}

.regularsatsang_button > center > p{
	text-align:center;
	vertical-align: middle;
}

.notactivebutton{
	color:#C5C1C1;
}

.notactivebutton > center > a:hover, a:link, a:visited{
	color:#C5C1C1;
}

.thumbnail_container{
	/*height:1%;*/
	/*max-height:425px;*/
	max-height:100%;
	overflow:auto;
}

.notactivebutton > center > a:hover, a:link, a:visited {
	color:orange;
}

.thumbnail_image{
	/*height:100%;*/
	width:99%;
}

.thumbnail{
	overflow:hidden;
}